$color-white: #fff;
$color-black: #000;
$color-green-light: #77cd6d;
$color-green-default: #55c57a;
$color-green-dark: #29b383;
$color-gray-light: #f7f7f7;
$color-gray-dark: #777;
$color-orange-light: #ffb206;
$color-orange-dark: #ff7f2b;
$color-blue-light: #2b95ff;
$color-blue-dark: #5349fb;
