.form {
  width: 114rem;
  height: 53.1rem;
  background: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../images/nat-10.jpg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-gray-dark;

  &__form-tag {
    width: 50%;
    padding-top: 7.4rem;
    padding-left: 6.1rem;
  }

  &__title {
    margin-bottom: 6rem !important;
    text-align: left !important;
  }

  &__input {
    width: 40.2rem;
    height: 5.1rem;
    border: none;
    margin-top: 2.6rem;
    padding-left: 2rem;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    border-radius: 0.3rem;

    &,
    &::placeholder {
      color: $color-gray-dark;
    }

    &:focus {
      outline: none;
      border-bottom: 0.3rem solid $color-green-default;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-orange-dark;
    }

    &:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-3rem);
    }
  }

  &__label {
    display: inline-block;
    padding-left: 1.8rem;
    margin-top: 0.5rem;
    transition: all 0.5s;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    cursor: pointer;
  }

  &__radio-button {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid $color-green-default;
    border-radius: 50%;
    transform: translateY(1rem);
    margin-right: 1.5rem;
    position: relative;
    &::after {
      opacity: 0;
      visibility: none;
      transition: all 0.3s;
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $color-green-default;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__radio-input:checked + label &__radio-button::after {
    opacity: 1;
    visibility: visible;
  }
}
