.feature_card {
  width: 240px;
  height: 300px;
  background-color: rgba($color__white, 0.8);
  transition: all 0.2s ease-out;
  padding: 0 30px;
  text-align: center;
  &:hover {
    transform: translateY(-10px) scale(1.01);
  }
}
