.composition {
  color: $color-gray-dark;
  margin-top: 10rem;
  padding-left: 4rem;
  display: flex;
  &__left {
    width: 49.8rem;
    margin-right: 3rem;
    h4 {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    [class^="text"] {
      margin-bottom: 4rem;
    }
    .btn::after {
      border: 0.1rem dashed red;
    }
  }
  &__right {
    position: relative;
    &:hover {
      .img:not(:hover) {
        transform: scale(0.9);
        filter: blur(0.4rem);
      }
    }
  }
  img {
    position: absolute;
    box-shadow: 0 0 2rem rgba($color-black, 0.3);
    transition: all 0.2s ease-out;
    &:hover {
      outline: 1.5rem solid $color-green-light;
      outline-offset: 1.8rem;
      border-radius: 1rem;
      z-index: 3;
      transform: scale(1.05);
    }
  }
  .nat-1 {
    left: 2.2rem;
    top: 0.5rem;
  }
  .nat-2 {
    top: 2.6rem;
    left: 29rem;
  }
  .nat-3 {
    top: 12rem;
    left: 18.4rem;
  }
}
