.header {
  background: linear-gradient(
      to right bottom,
      rgba($color__green_light, 0.8),
      rgba($color__green_dark, 0.8)
    ),
    url(../images/hero-small.jpg);
  background-position: top;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  overflow: hidden;

  &--logo {
    width: 7rem;
    margin: 4rem 0 0 4rem;
  }
  &--main_text {
    margin-top: 6rem;
    color: $color__white;
    animation: moveRight 1s ease-out;
  }
  &--sub_text {
    margin-top: 1.7rem;
    color: $color__white;
    animation: moveLeft 1s ease-out;
  }
  &--btn_wrapper {
    text-align: center;
    margin-top: 6rem;
    animation: moveUp 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }
}
