.section__title {
  text-align: center;
  background: linear-gradient(to right, $color-green-light, $color-green-dark);
  background-clip: text;
  color: transparent;
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.1) skew(15deg, 2deg);
    text-shadow: 0 0 2rem rgba($color-black, 0.2);
  }
}

[class^="section_"] {
  overflow: hidden;
}

.section_two {
  background-color: $color-gray-light;
  height: calc(80rem + 25vh);
  margin-top: -22vh;
  padding-top: 27.5rem;
}

.section_three {
  background: linear-gradient(
      to right bottom,
      rgba($color-green-light, 0.8),
      rgba($color-green-dark, 0.8)
    ),
    url(../images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-8deg);
  height: 70rem;
  margin-top: -9rem;
  .cards_wrapper {
    transform: skewY(8deg);
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
}

.section_four {
  // height: 135.6rem;
  background-color: $color-gray-light;
  margin-top: -13rem;
  padding-top: 31rem;
  .tour_cards_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-bottom: 10.6rem;
  }
}

.section_five {
  border: 1px dashed red;
  height: 1196px;
  padding-top: 153px;
  text-align: center;
}
