.section_two {
  background-color: #f7f7f7;
  height: calc(80rem + 25vh);
  margin-top: -22vh;
  padding-top: 27.5rem;
  overflow: hidden;
  .title {
    text-align: center;
    background: linear-gradient(
      to right,
      $color__green_light,
      $color__green_dark
    );
    background-clip: text;
    color: transparent;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.1) skew(15deg, 2deg);
      text-shadow: 0 0 20px rgba($color__black, 0.2);
    }
  }
}

.section_three {
  background: linear-gradient(
      to right bottom,
      rgba($color__green_light, 0.8),
      rgba($color__green_dark, 0.8)
    ),
    url(../images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-8deg);
  height: 700px;
  margin-top: -90px;
  .cards_wrapper {
    transform: skewY(8deg);
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
