@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  padding: 3rem;
}

@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-BlackItalic";
  src: url(../fonts/Lato-BlackItalic.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-BoldItalic";
  src: url(../fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-LightItalic";
  src: url(../fonts/Lato-LightItalic.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Thin";
  src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: "Lato-ThinItalic";
  src: url(../fonts/Lato-ThinItalic.ttf);
}
body {
  font-family: "Lato-Regular";
  font-size: 1.6rem;
}

.header {
  text-transform: uppercase;
}
.header--main_text, .header--sub_text {
  text-align: center;
  font-weight: 400;
}
.header--main_text {
  font-size: 6.1rem;
  letter-spacing: 3.4rem;
}
.header--sub_text {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.8rem;
}

.section__title {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: bolder;
  letter-spacing: 0.3rem;
}

.composition__left {
  line-height: 3rem;
}
.composition__left h4 {
  text-transform: uppercase;
}

.feature_card__title {
  text-transform: uppercase;
}
.feature_card__description {
  line-height: 2.6rem;
}

.front--description {
  text-align: center;
}

.u-text-center {
  text-align: center;
}

.u-margin-b-8 {
  margin-bottom: 0.8rem;
}

.u-margin-l-68 {
  margin-left: 64px;
}

.u-flex {
  display: flex;
  justify-content: space-between;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #777;
  background: #fff;
  border-radius: 10rem;
  width: 25.3rem;
  height: 5.5rem;
  line-height: 5.5rem;
  transition: all 0.3s ease-out;
  position: relative;
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
  z-index: -1;
  border-radius: inherit;
  background: inherit;
}
.btn:hover {
  transform: translateY(-0.3rem);
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
}

.btn--learn:link, .btn--learn:visited {
  display: inline-block;
  background: linear-gradient(#29b383, #77cd6d);
  background-clip: text;
  color: transparent;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: 0.5rem;
  transition: all 0.2s ease-out;
}
.btn--learn:hover {
  background: #55c57a;
  color: #fff;
  transform: translateY(-0.3rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
.btn--learn:active {
  transform: translateY(-0.1rem);
}

.btn--tour_card {
  margin-top: 10rem;
  width: 18rem !important;
  text-transform: uppercase;
}

.btn--section_four_footer {
  color: #fff !important;
  background: #55c57a !important;
  width: 24.6rem !important;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15rem;
}

.btn--section-five-footer {
  margin-top: 10.6rem;
}

.btn--form-submit {
  border: none;
  cursor: pointer;
  color: #fff;
  background: #55c57a;
  width: 183px;
  height: 45px;
  text-transform: uppercase;
  margin-left: 62px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.comment-card {
  text-align: left;
  color: #777;
  display: inline-block;
  width: 91.3rem;
  height: 27.1rem;
  transform: skew(-12deg);
  padding: 5.2rem;
  padding-left: 11.2rem;
  margin-top: 8rem;
  background-color: rgba(255, 255, 255, 0.65);
}
.comment-card > * {
  transform: skew(12deg);
}
.comment-card__shape {
  height: 15.3rem;
  width: 15.3rem;
  clip-path: circle(50% at 50% 50%);
  float: left;
  shape-outside: circle(50% at 50% 50%);
  transform: skew(12deg) translateX(-3.4rem);
  text-align: center;
}
.comment-card__image {
  height: 100%;
  transform: translateX(-3.5rem) scale(1.5);
  transition: all 0.5s;
}
.comment-card__caption {
  display: inline-block;
  color: #fff;
  line-height: 2.4rem;
  text-transform: uppercase;
  transition: all 0.5s;
}
.comment-card__title {
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  transform: skew(12deg) translateX(-1.2rem);
}
.comment-card__text {
  line-height: 2.7rem;
}
.comment-card:hover .comment-card__image {
  filter: blur(0.2rem) brightness(80%);
  transform: translateX(-3.5rem) scale(1);
}
.comment-card:hover .comment-card__caption {
  transform: translateY(-10rem);
}

.feature_card {
  width: 24rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-out;
  padding: 3.8rem 2.1rem 0;
  text-align: center;
  color: #777;
  border-radius: 0.4rem;
}
.feature_card__icon {
  font-size: 5.8rem;
  padding: 0.5rem;
  background: linear-gradient(#29b383, #77cd6d);
  background-clip: text;
  color: transparent;
}
.feature_card__title {
  margin-top: 3.2rem;
}
.feature_card__description {
  margin-top: 1.6rem;
}
.feature_card:hover {
  transform: translateY(-1rem) scale(1.01);
}

.form {
  width: 1140px;
  height: 531px;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/nat-10.jpg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #777;
}
.form__form-tag {
  width: 50%;
  padding-top: 74px;
  padding-left: 61px;
}
.form__title {
  margin-bottom: 60px !important;
  text-align: left !important;
}
.form__input {
  width: 402px;
  height: 51px;
  border: none;
  margin-top: 26px;
  padding-left: 20px;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 3px;
}
.form__input, .form__input::placeholder {
  color: #777;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7f2b;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}
.form__label {
  display: inline-block;
  padding-left: 18px;
  margin-top: 5px;
  transition: all 0.5s;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  cursor: pointer;
}
.form__radio-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 5px solid #55c57a;
  border-radius: 50%;
  transform: translateY(10px);
  margin-right: 15px;
  position: relative;
}
.form__radio-button::after {
  opacity: 0;
  visibility: none;
  transition: all 0.3s;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__radio-input:checked + label .form__radio-button::after {
  opacity: 1;
  visibility: visible;
}

.tour_card {
  perspective: 100rem;
  margin-top: 9rem;
  width: 34rem;
  height: 52rem;
  position: relative;
}
.tour_card__front, .tour_card__back {
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-out;
  width: 34rem;
  height: 52.4rem;
  background-color: #fff;
  backface-visibility: hidden;
  position: absolute;
}
.tour_card__back {
  transform: rotateY(180deg);
  text-align: center;
  color: #fff;
}
.tour_card__back--1 {
  background: linear-gradient(to right bottom, #ffb206, #ff7f2b);
}
.tour_card__back--2 {
  background: linear-gradient(to right bottom, #77cd6d, #29b383);
}
.tour_card__back--3 {
  background: linear-gradient(to right bottom, #2b95ff, #5349fb);
}
.tour_card:hover .tour_card__front {
  transform: rotateY(-180deg);
}
.tour_card:hover .tour_card__back {
  transform: rotateY(0deg);
}

.front--image {
  height: 22.8rem;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  background: linear-gradient(to right bottom, #ffb206, #ff7f2b), url(../images/nat-5.jpg);
  background-blend-mode: screen;
  background-position: top;
  background-size: cover !important;
}
.front--image--2 {
  background: linear-gradient(to right bottom, #77cd6d, #29b383), url(../images/nat-6.jpg);
}
.front--image--3 {
  background: linear-gradient(to right bottom, #2b95ff, #5349fb), url(../images/nat-7.jpg);
}
.front--title {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 75%;
}
.front--title--1 span, .front--title--2 span, .front--title--3 span {
  background: linear-gradient(to right bottom, rgba(255, 178, 6, 0.85), rgba(255, 127, 43, 0.85));
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  line-height: 4.2rem;
}
.front--title--2 span {
  background: linear-gradient(to right bottom, rgba(119, 205, 109, 0.85), rgba(41, 179, 131, 0.85));
}
.front--title--3 span {
  background: linear-gradient(to right bottom, rgba(43, 149, 255, 0.85), rgba(83, 73, 251, 0.85));
}
.front--description {
  list-style-type: none;
  padding: 0 5.5rem;
  color: #777;
  margin-top: 4rem;
}
.front--description .front-list-item {
  border-bottom: 0.1rem solid rgba(119, 119, 119, 0.2);
  padding-bottom: 1.5rem;
  margin-bottom: 0.7rem;
}

.back--title {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.38rem;
  margin-top: 13.5rem;
}
.back--price {
  font-size: 6rem;
  font-family: lato-Thin;
  margin-top: 1.2rem;
}

.composition {
  color: #777;
  margin-top: 10rem;
  padding-left: 4rem;
  display: flex;
}
.composition__left {
  width: 49.8rem;
  margin-right: 3rem;
}
.composition__left h4 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.composition__left [class^=text] {
  margin-bottom: 4rem;
}
.composition__left .btn::after {
  border: 0.1rem dashed red;
}
.composition__right {
  position: relative;
}
.composition__right:hover .img:not(:hover) {
  transform: scale(0.9);
  filter: blur(0.4rem);
}
.composition img {
  position: absolute;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-out;
}
.composition img:hover {
  outline: 1.5rem solid #77cd6d;
  outline-offset: 1.8rem;
  border-radius: 1rem;
  z-index: 3;
  transform: scale(1.05);
}
.composition .nat-1 {
  left: 2.2rem;
  top: 0.5rem;
}
.composition .nat-2 {
  top: 2.6rem;
  left: 29rem;
}
.composition .nat-3 {
  top: 12rem;
  left: 18.4rem;
}

.footer {
  color: #fff;
  background-color: #333;
  padding: 0 70px 100px;
  margin-bottom: 10px;
}
.footer__logo-box {
  text-align: center;
  padding-top: 108px;
  margin-bottom: 85px;
}
.footer__logo {
  width: 150px;
}
.footer__content-list {
  list-style: none;
  display: flex;
  gap: 15px;
}
.footer__link:link, .footer__link:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.footer__link:hover {
  transform: scale(1.1) rotate(8deg);
  color: #55c57a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.footer__left, .footer__right {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 25px;
  line-height: 26px;
}
.footer__right {
  width: 464px;
  height: 161px;
}

.header {
  background: linear-gradient(to right bottom, rgba(119, 205, 109, 0.8), rgba(41, 179, 131, 0.8)), url(../images/hero-small.jpg);
  background-position: top;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  overflow: hidden;
}
.header--logo {
  width: 7rem;
  margin: 4rem 0 0 4rem;
}
.header--main_text {
  margin-top: 6rem;
  color: #fff;
  animation: moveRight 1s ease-out;
}
.header--sub_text {
  margin-top: 1.7rem;
  color: #fff;
  animation: moveLeft 1s ease-out;
}
.header--btn_wrapper {
  text-align: center;
  margin-top: 6rem;
  animation: moveUp 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.popup__background {
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(#77cd6d, #29b383);
  transform: scale(1);
  position: fixed;
  top: 70px;
  right: 70px;
  transition: all 0.8s ease-in-out;
}
.popup__checkbox {
  display: none;
}
.popup__button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 60px;
  right: 60px;
  z-index: 200;
}
.popup__content {
  z-index: 200;
  position: fixed;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.9s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.popup__list {
  height: 100%;
  width: 100%;
}
.popup__list {
  list-style: none;
  text-align: center;
}
.popup__link:link, .popup__link:visited {
  color: #fff;
  font-family: lato-light;
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  margin: 10px 0;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 231%;
  transition: all 0.3s;
}
.popup__link:hover {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(8px);
}
.popup__checkbox:checked + .popup__background {
  transform: scale(100);
}
.popup__checkbox:checked ~ .popup__content {
  visibility: visible;
  opacity: 1;
  left: 50%;
}

.section__title {
  text-align: center;
  background: linear-gradient(to right, #77cd6d, #29b383);
  background-clip: text;
  color: transparent;
  transition: all 0.2s ease-out;
}
.section__title:hover {
  transform: scale(1.1) skew(15deg, 2deg);
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

[class^=section_] {
  overflow: hidden;
}

.section_two {
  background-color: #f7f7f7;
  height: calc(80rem + 25vh);
  margin-top: -22vh;
  padding-top: 27.5rem;
}

.section_three {
  background: linear-gradient(to right bottom, rgba(119, 205, 109, 0.8), rgba(41, 179, 131, 0.8)), url(../images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-8deg);
  height: 70rem;
  margin-top: -9rem;
}
.section_three .cards_wrapper {
  transform: skewY(8deg);
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.section_four {
  background-color: #f7f7f7;
  margin-top: -13rem;
  padding-top: 31rem;
}
.section_four .tour_cards_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 10.6rem;
}

.section_five {
  padding: 15.3rem 0;
  text-align: center;
  position: relative;
}

.section_six {
  background: linear-gradient(to right bottom, #77cd6d, #29b383);
  height: 831px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
